
<body>
  <section class="main-section">
    <div class="container">
      <div class="welcome-text">
        <h1>Welcome to Scattered Tales</h1>
        <p>Share your stories and explore the community!</p>
      </div>

      <!-- Register Form -->
      <div class="register-form">
        <h2>Create an Account</h2>
        <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()">
          <div class="form-group">
            <app-test-input [formControl]="registerForm.controls['username']" [label]='"Username"'></app-test-input>
          </div>
          <div class="form-group">
            <app-test-input [formControl]="registerForm.controls['email']" [label]='"Email"'></app-test-input>
          </div>
          <div class="form-group">
            <app-test-input [formControl]="registerForm.controls['password']" [label]='"Password"' [type]='"password"'></app-test-input>
          </div>
          <div class="form-group">
            <app-test-input [formControl]="registerForm.controls['confirmPassword']" [label]='"Confirm Password"' [type]='"password"'></app-test-input>
          </div>
            <div class="row" *ngIf="validationErrors.length>0">
              <ul class="text-danger">
                <li *ngFor="let error of validationErrors">{{error}}</li>
              </ul>
            </div>
          <button [disabled]="!registerForm.valid" type="submit" class="register-btn">Register</button>
        </form>
      </div>
    </div>
  </section>


</body>

